.dialog-backdrop::backdrop {
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.cursor-pointer:hover {
  cursor: pointer;
  background-color: #fff;
}

.btn-danger-hover:hover, .btn-danger-hover:active {
  background-color: #f00;
}

.dialog {
  background-color: #000;
}
